.layout {
    background: transparent;
    overflow: hidden;
    height: 100%;
}

.text {
    color: white;
    font-size: 30px;
    vertical-align: 18px;
    margin: 0px 10px 0px 0px;
}
.logo {
    height: 60px;
    width: 60px;
}
.content {
    margin-top: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
