.logo {
    width: 200px;
    height: 200px;
}

.wrapper {
    margin: auto;
}

.content {
    width: 400px;
    padding: 0 40px 40px;
    margin: auto;
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    overflow: hidden;
}

.header {
    margin: 0 -40px 30px;
    overflow: hidden;
}

.switch {
    float: left;
    width: 50%;
    text-align: center;
}

.switch a {
    font-size: 14px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #2FA8E5;
    text-shadow: 0px 1px 20px #81D5FF;
    text-decoration: none;
}

.inactive {
    background: linear-gradient(0deg, #ddd, #eee);
}

.inactive a {
    color: #202020;
    text-shadow: none;
}
